---
format: 
  html:
    toc: false
    page-layout: full
execute:
    echo: true
---

In [3]:
#| echo: false

import altair as alt
import geopandas as gpd
import hvplot.pandas
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import requests
import folium

<div class="text-box">



# 2.1 Data Merging and Cleaning

In this part I,

1) Download the data from open data Philly, and the geojson demographic/tract dataframe from Part 1.1

2) Merge both of the data frames

3) Clean the data frame contaning columns that I want for the analysis

4) Export the cleaned dataframe for use in part 2.2

In [4]:
#| echo: true
#| code-fold: true

college_buildings=gpd.read_file("Universities_Colleges.geojson")

identity_with_tracts= gpd.read_file("identity_with_tracts.geojson")

buildings_per_tract = gpd.sjoin(
    college_buildings,
    identity_with_tracts.to_crs(college_buildings.crs),
    how='left',
    predicate="within",
)







columns_to_keep = ['NAME_left', 'ADDRESS', 'BUILDING_DESCRIPTION',
       'geometry', 'Black and Latino/Hispanic',
       'Total Population', 'Median Household Income', 
       'Bachelors Degree or Higher',  'Associates Degree',
       'Masters Degree', 'White and Latino/Hispanic',
       'tract', 'Hispanic or Latino Total']

buildings_per_tract_clean = buildings_per_tract[columns_to_keep]

buildings_per_tract_clean.to_file("buildings_per_tract.geojson")

buildings_per_tract_clean

,NAME_left,ADDRESS,BUILDING_DESCRIPTION,geometry,Black and Latino/Hispanic,Total Population,Median Household Income,Bachelors Degree or Higher,Associates Degree,Masters Degree,White and Latino/Hispanic,tract,Hispanic or Latino Total
0,Temple University,2450 W HUNTING PARK AVE,OFF/BLD N/COMM W-PKG MASO,"POLYGON ((-75.16740 40.00671, -75.16732 40.006...",115,3240,26025.0,170,260,56,0,017100,191
1,Temple University,1501-39 MARKET ST,OFF/BLDG COMM NO GAR MASO,"POLYGON ((-75.16527 39.95312, -75.16660 39.953...",0,775,208824.0,344,54,206,73,000403,73
2,Temple University Medical,801 CHERRY ST,APTS 51-100UNTS MASONRY,"POLYGON ((-75.15294 39.95452, -75.15371 39.954...",0,3175,83854.0,937,143,126,106,000200,268
3,Temple University Medical,800-20 RACE ST,SCHOOL 7STY MASONRY,"POLYGON ((-75.15290 39.95473, -75.15285 39.954...",0,3175,83854.0,937,143,126,106,000200,268
4,Temple University Medical,191-99 E HUNTINGDON ST,HSE WORSHIP ALL3STY MASON,"POLYGON ((-75.12736 39.98930, -75.12789 39.989...",14,3204,19269.0,124,40,0,825,016300,2483
...,...,...,...,...,...,...,...,...,...,...,...,...,...
624,Saint Joseph's University,6300-18 CITY AVE,APTS DORMITORY MASONRY,"POLYGON ((-75.25085 39.98963, -75.25086 39.989...",37,3727,69205.0,612,279,506,83,037500,195
625,Saint Joseph's University,2443-45 N 54TH ST,SCHOOL 1STY MASONRY,"POLYGON ((-75.23392 39.99543, -75.23389 39.995...",0,2132,76190.0,178,110,241,53,012000,81
626,Saint Joseph's University,6050 OVERBROOK AVE,APTS 5-50 UNTS MASONRY,"POLYGON ((-75.24768 39.99056, -75.24816 39.990...",37,3727,69205.0,612,279,506,83,037500,195
627,Academy of Vocal Arts,1916 SPRUCE ST,SCHOOL 4STY MASONRY,"POLYGON ((-75.17349 39.94799, -75.17356 39.948...",0,1827,95900.0,634,37,345,184,001203,224
628,Academy of Vocal Arts,1918-20 SPRUCE ST,SCHOOL 4STY MASONRY,"POLYGON ((-75.17358 39.94800, -75.17376 39.948...",0,1827,95900.0,634,37,345,184,001203,224

</div>

<div class="text-box">

Now I have all of the college buildings across Philadelphia with their geometries, census tracts, and demographics of the census tracts they are in. This is essential for part 2.2

</div>